<div class="card-container">
  <div class="surface-card p-8">


    <div class="grid p-fluid flex justify-content-center flex-wrap">
      <div class="col-12">
        <div class="flex align-items-center justify-content-center">
          <h3 class="text-900 text-3xl font-medium">Reset Password</h3>
        </div>
      </div>
    </div>



    <div class="grid p-fluid flex justify-content-center flex-wrap">
      <div class="col-12">
        <div class="flex align-items-center justify-content-center">
          <p>Please enter your email address to request a password reset.</p>
        </div>
      </div>
    </div>

    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">


      <div class="grid p-fluid flex justify-content-center flex-wrap">
        <div class="col-12 md:col-4">
          <div class="flex align-items-center justify-content-center p-inputgroup mt-2">
            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            <input type="email" pInputText placeholder="Email" class="form-control" name="passwordResetEmail"
              [(ngModel)]="form.passwordResetEmail" required #passwordResetEmail="ngModel">
            <div *ngIf="f.touched || f.submitted && passwordResetEmail.errors" class="invalid-feedback">
              <div *ngIf="passwordResetEmail.errors['required']" style="color: red;">Email is required</div>
            </div>
          </div>
        </div>
      </div>


      <div class="grid p-fluid flex justify-content-center flex-wrap">
        <div class="mt-4">
          <button pButton pRipple label="Send" icon="pi pi-check" type="submit"
            (click)="auth.forgotPassword(passwordResetEmail.value)"
            class="p-button-rounded p-button-primary p-button-sm"></button>
        </div>
      </div>

      <div class="grid p-fluid flex justify-content-center flex-wrap">
        <div class="mt-2">
          <span class="text-900">Go back to? <span class="redirect text-blue-500" routerLink="/sign-in">
              SignIn</span></span>
        </div>
      </div>



    </form>

  </div>
</div>