<div class="card-container" style="height:auto;">
    <div class="surface-card p-8">

        <div class="grid p-fluid flex justify-content-center flex-wrap">
            <div class="col-12">
                <div class="flex align-items-center justify-content-center">
                    <h3 class="text-900 text-3xl font-medium">Add Student</h3>
                </div>
            </div>
        </div>



        <form [formGroup]="studentForm" (ngSubmit)="submitStudentData()" class="form-group" novalidate>
            <div class="grid p-fluid flex justify-content-center flex-wrap mt-8">
                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Student Name" class="form-control" formControlName="firstName">
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
                        <input type="text" pInputText placeholder="Standard" class="form-control" formControlName="standard">
                    </div>
                </div>
            </div>


            <div class="grid p-fluid flex justify-content-center flex-wrap mt-4">
                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <input type="email" pInputText placeholder="Email" class="form-control" formControlName="email">
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                        <input type="number" pInputText placeholder="Mobile" class="form-control" formControlName="mobileNumber">
                    </div>
                </div>
            </div>


<div class="grid p-fluid flex justify-content-center flex-wrap mt-4">
            <div class="flex align-items-center justify-content-center mt-4">
                <button pButton pRipple type="reset" label="Reset" icon="pi pi-times"
                    class="p-button-rounded p-button-danger p-button-sm mr-2" (click)="resetForm()"></button>
            </div>
            <div class="flex align-items-center justify-content-center mt-4">
                <button pButton pRipple type="submit" label="Add Student" icon="pi pi-user-plus"
                    class="p-button-rounded p-button-success p-button-sm ml-2"
                    [disabled]="!studentForm.valid"></button>
            </div>
        </div>


        </form>
    </div>
</div>