<div class="card-container">
    <div class="surface-card p-8">


        <div class="grid p-fluid flex justify-content-center flex-wrap">
            <div class="col-12">
                <div class="flex align-items-center justify-content-center">
                    <h3 class="text-900 text-3xl font-medium">User Profile</h3>
                </div>
            </div>
        </div>


        <div class="grid p-fluid flex justify-content-center flex-wrap">
            <div class="col-12">
                <div class="flex align-items-center justify-content-center">
                    <p-card *ngIf="auth.data as user" header="Hello {{(user.displayName) ? user.displayName : 'User'}}"
                        [style]="{width: '360px'}" styleClass="p-card-shadow" class="lg-12 md-12 sm-12">
                        <ng-template pTemplate="header">
                            <img class=" mr-5 img-thumbnail rounded-circle"
                                src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                                alt="{{user.displayName}}" height="200px" width="200px">
                        </ng-template>
                        <p-chip label="{{user.displayName | uppercase}}" icon="pi pi-user"
                            styleClass="mr-2 custom-chip mb-3"></p-chip>
                        <p-chip label="{{user.uid}}" icon="pi pi-id-card" styleClass="mr-2 custom-chip mb-3"></p-chip>
                        <p-chip label="{{user.email}}" icon="pi pi-envelope" styleClass="mr-2 custom-chip mb-3">
                        </p-chip>
                        <p-chip label="{{user.emailVerified}}" icon="pi pi-check-circle"
                            styleClass="mr-2 custom-chip mb-3"></p-chip>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple type="reset" label="SignOut" icon="pi pi-sign-out"
                                class="p-button-rounded p-button-danger p-button-sm mr-2 mb-3"
                                (click)="auth.signOut()"></button>
                            <button pButton pRipple type="button" label="Save" icon="pi pi-check"
                                class="p-button-rounded p-button-success p-button-sm ml-2 mb-3"></button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>