<div class="card-container">
    <div class="surface-card p-8">


        <div class="grid p-fluid flex justify-content-center flex-wrap">
            <div class="col-12">
                <div class="flex align-items-center justify-content-center">
                    <h3 class="text-900 text-3xl font-medium">SignUp</h3>
                </div>
            </div>
        </div>


        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class=" form-group text-center">

            <div class="grid p-fluid flex justify-content-center flex-wrap">
                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup mt-2">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Username" class="form-control" formControlName="userName">
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup mt-2">
                        <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <input type="email" pInputText placeholder="Email" class="form-control" formControlName="email">
                    </div>
                </div>
            </div>


            <div class="grid p-fluid flex justify-content-center flex-wrap">
                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup mt-2">
                        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                        <input type="number" pInputText placeholder="Mobile" class="form-control" formControlName="mobile">
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup mt-2">
                        <span class="p-inputgroup-addon"><i class="pi pi-image"></i></span>
                        <input type="file" pInputText placeholder="Profile picture" class="form-control" formControlName="photoURL">
                    </div>
                </div>
            </div>


            <div class="grid p-fluid flex justify-content-center flex-wrap">
                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup mt-2">
                        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                        <input type="password" pInputText placeholder="Password" class="form-control" formControlName="password">
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="flex align-items-center justify-content-center p-inputgroup mt-2">
                        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                        <input type="password" pInputText placeholder="Confirm Password" class="form-control" formControlName="confirmpwd">
                    </div>
                </div>
            </div>


            <div class="grid p-fluid flex justify-content-center flex-wrap">
                <div class="flex align-items-center justify-content-center mt-4">
                    <button pButton pRipple type="reset" label="Cancel" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-sm mr-2" (click)="reset()"></button>
                </div>
                <div class="flex align-items-center justify-content-center mt-4">
                    <button pButton pRipple type="submit" label="SignUp" icon="pi pi-check"
                        class="p-button-rounded p-button-success p-button-sm ml-2"></button>
                </div>
            </div>

            
            <div class="grid p-fluid flex justify-content-center flex-wrap">
                <div class="mt-4">
                    <button pButton pRipple label="Continue with Google" icon="pi pi-google"
                        class="p-button-rounded p-button-primary p-button-sm" (click)="auth.GoogleAuth()"></button>
                </div>
            </div>


            <div class="grid p-fluid flex justify-content-center flex-wrap">
                <div class="mt-2">
                    <span class="text-900">Already have an account ? <span class="redirect text-blue-500"
                            routerLink="/sign-in">Login</span></span>
                </div>
            </div>

        </form>

    </div>
</div>