<div class="surface-card">
<p-table #dt [value]="students" [rows]="5" [paginator]="true"
    [globalFilterFields]="['firstName','standard','email','mobileNumber']" [(selection)]="selectedStudents" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between" style="text-align: right">
            <div class="text-900 text-3xl font-medium text-center">Student List</div>
            <div class="col-12">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input #searchInput pInputText type="text" (input)="dt.filterGlobal(searchInput.value,  'contains')" placeholder="Search..." />
            </span>
            </div>
        </div>
        <div class="p-d-flex p-ai-center p-jc-between" style="text-align: left;">
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning ml-3" pTooltip="PDF" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-user-plus" routerLink="/register-student" class="p-button-primary ml-3 mr-3" pTooltip="Add student" tooltipPosition="bottom"></button>
            </div>
    </ng-template>



    <ng-template pTemplate="header">
        <tr>
            
            <th class="text-center">Student ID</th>
            <th pSortableColumn="firstName" class="text-center">Name
                <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th pSortableColumn="standard" class="text-center">Standard
                <p-sortIcon field="standard"></p-sortIcon>
            </th>
            <th pSortableColumn="email" class="text-center"> Email
                <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="mobileNumber" class="text-center">Mobile no.
                <p-sortIcon field="mobileNumber"></p-sortIcon>
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td class="text-center">{{student.$key}}</td>
            <td class="text-center">{{student.firstName | uppercase}}</td>
            <td class="text-center">{{student.standard}}</td>
            <td class="text-center">{{student.email}}</td>
            <td class="text-center">{{student.mobileNumber}}</td>
            <td class="text-center">
                <button pButton pRipple icon="pi pi-user-edit" class="p-button-rounded p-button-success mr-2"
                    routerLink="/edit-student/{{ student.$key }}" pTooltip="Edit" tooltipPosition="bottom"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="DeleteStudent(student)" pTooltip="Delete" tooltipPosition="bottom"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{students ? students.length : 0 }} products.
        </div>
    </ng-template>
</p-table>
</div>